*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    color: #1b1212;
}

body{
 display: flex;
 justify-content: center;
 align-items: center;
 min-height: 100vh;
 background-color: #a7a6a6;
}

.container{
    position: relative;
}

.clock{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: #fdfafa;
    box-shadow:  33px 33px 66px #7a7676,
    -33px -33px 66px #a8a5a5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clock span{
    position: absolute;
    transform: rotate(calc(30deg * var(--i)));
    inset: 12px;
    text-align: center;
}

.clock span b{
    transform: rotate(calc(-30deg * var(--i)));
    display: inline-block;
    font-size: 30px;
}

.clock::before{
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #1b1212 ;
    z-index: 2;
}

.hand {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hand i{
   position: absolute;
   background-color: var(--clr);
   width: 4px;
   height: var(--h);
   border-radius: 8px;
}

